@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap");
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  background: url("../images/hex-stylish.png");
  font-size: 16px;
  line-height: 24px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.wrapper {
  min-height: 100vh;
  padding-bottom: 84px;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../images/hex-stylish.png");
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

li {
  list-style: none;
}

header .title {
  font-family: BioRhyme;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
}

nav {
  position: relative;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  margin-right: 30px;
}

nav ul li .nav-link {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 0;
}

nav ul li .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

nav ul li .nav-link.active::after {
  width: 100% !important;
}

nav ul li .nav-link:hover::after {
  width: 100%;
}

img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 84px);
  padding-top: 70px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}

.hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input,
textarea {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #cdd5d3;
  padding: 10px;
  font-size: 16px;
}

textarea {
  resize: none;
}

.btn {
  background: #293531;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer .footer-link {
  width: 36px;
  height: 36px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

footer .footer-link:hover {
  background: rgba(41, 53, 49, 0.72);
}

.mr-20 {
  margin-right: 20px;
}

.hero-title {
  color: #293531;
  margin-bottom: 24px;
}

.hero-quote {
  color: #cdd5d3;
}

.hero-link {
  color: rgba(41, 53, 49, 0.74);
  padding: 6px 0;
  text-decoration: none;
  border-bottom: 2px solid rgba(41, 53, 49, 0.74);
}

.menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (max-width: 576px) {
  header {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 20px;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #000;
    padding: 0 10px;
    width: 200px;
    height: 0;
    overflow: hidden;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }
  nav ul.show {
    height: 184px;
  }
  nav ul li {
    padding: 10px;
  }
}

@media (max-width: 991px) {
  .mobile-flex-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  header {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: calc((100vw - 540px) / 2);
    padding-left: calc((100vw - 540px) / 2);
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 720px;
  }
  header {
    margin: 0;
    padding-right: calc((100vw - 720px) / 2);
    padding-left: calc((100vw - 720px) / 2);
  }
  .menu-icon {
    display: none;
  }
  .main-content {
    padding-top: 50px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  header {
    margin: 0;
    padding-right: calc((100vw - 960px) / 2);
    padding-left: calc((100vw - 960px) / 2);
  }
  .hero-image {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main-content {
    padding-top: 100px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  header {
    margin: 0;
    padding-right: calc((100vw - 1140px) / 2);
    padding-left: calc((100vw - 1140px) / 2);
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  header {
    margin: 0;
    padding-left: calc((100vw - 1320px) / 2);
    padding-right: calc((100vw - 1320px) / 2);
  }
}

.text-justify {
  text-align: justify;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.p-0 {
  padding: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.m-0 {
  margin: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.p-1 {
  padding: 8px;
}

.pr-1 {
  padding-right: 8px;
}

.pl-1 {
  padding-left: 8px;
}

.pt-1 {
  padding-top: 8px;
}

.pb-1 {
  padding-bottom: 8px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m-1 {
  margin: 8px;
}

.mr-1 {
  margin-right: 8px;
}

.ml-1 {
  margin-left: 8px;
}

.mt-1 {
  margin-top: 8px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.p-2 {
  padding: 16px;
}

.pr-2 {
  padding-right: 16px;
}

.pl-2 {
  padding-left: 16px;
}

.pt-2 {
  padding-top: 16px;
}

.pb-2 {
  padding-bottom: 16px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m-2 {
  margin: 16px;
}

.mr-2 {
  margin-right: 16px;
}

.ml-2 {
  margin-left: 16px;
}

.mt-2 {
  margin-top: 16px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.p-3 {
  padding: 24px;
}

.pr-3 {
  padding-right: 24px;
}

.pl-3 {
  padding-left: 24px;
}

.pt-3 {
  padding-top: 24px;
}

.pb-3 {
  padding-bottom: 24px;
}

.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.m-3 {
  margin: 24px;
}

.mr-3 {
  margin-right: 24px;
}

.ml-3 {
  margin-left: 24px;
}

.mt-3 {
  margin-top: 24px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mx-3 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.p-4 {
  padding: 32px;
}

.pr-4 {
  padding-right: 32px;
}

.pl-4 {
  padding-left: 32px;
}

.pt-4 {
  padding-top: 32px;
}

.pb-4 {
  padding-bottom: 32px;
}

.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.m-4 {
  margin: 32px;
}

.mr-4 {
  margin-right: 32px;
}

.ml-4 {
  margin-left: 32px;
}

.mt-4 {
  margin-top: 32px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mx-4 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
  position: relative;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.col-1 {
  width: 8.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-2 {
  width: 16.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-3 {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-4 {
  width: 33.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-5 {
  width: 41.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-6 {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-7 {
  width: 58.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-8 {
  width: 66.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-9 {
  width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-10 {
  width: 83.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-11 {
  width: 91.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-12 {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 576px) {
  .col-xs-1 {
    width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xs-2 {
    width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xs-3 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xs-4 {
    width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xs-5 {
    width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xs-6 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xs-7 {
    width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xs-8 {
    width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xs-9 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xs-10 {
    width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xs-11 {
    width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xs-12 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-sm-2 {
    width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-sm-3 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-sm-4 {
    width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-sm-5 {
    width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-sm-6 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-sm-7 {
    width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-sm-8 {
    width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-sm-9 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-sm-10 {
    width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-sm-11 {
    width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-sm-12 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-md-2 {
    width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-md-3 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-md-4 {
    width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-md-5 {
    width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-md-6 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-md-7 {
    width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-md-8 {
    width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-md-9 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-md-10 {
    width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-md-11 {
    width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-md-12 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-lg-2 {
    width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-lg-3 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-lg-4 {
    width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-lg-5 {
    width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-lg-6 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-lg-7 {
    width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-lg-8 {
    width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-lg-9 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-lg-10 {
    width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-lg-11 {
    width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-lg-12 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xl-2 {
    width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xl-3 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xl-4 {
    width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xl-5 {
    width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xl-6 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xl-7 {
    width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xl-8 {
    width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xl-9 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xl-10 {
    width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xl-11 {
    width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .col-xl-12 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */