// .container {
//     display: grid;
//     width: 100%;
//     margin: 0 auto;
//     grid-template-columns: repeat(12, 1fr);
//     grid-column-gap: .5em;
// }

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
$index: 4;

@for $i from 0 through $index {
  .p-#{$i} {
    padding: $i * 8px;
  }
  .pr-#{$i} {
    padding-right: $i * 8px;
  }
  .pl-#{$i} {
    padding-left: $i * 8px;
  }
  .pt-#{$i} {
    padding-top: $i * 8px;
  }
  .pb-#{$i} {
    padding-bottom: $i * 8px;
  }
  .m-#{$i} {
    margin: $i * 8px;
  }
  .mr-#{$i} {
    margin-right: $i * 8px;
  }
  .ml-#{$i} {
    margin-left: $i * 8px;
  }
  .mt-#{$i} {
    margin-top: $i * 8px;
  }
  .mb-#{$i} {
    margin-bottom: $i * 8px;
  }
}
$columns: 12;

@for $i from 1 through $columns {
  .col-#{$i} {
    width: $i/$columns * 100%;
    flex: 0 0 auto;
  }

  @media (min-width: 1200px) {
    .col-xl-#{$i} {
      width: $i/$columns * 100%;
      flex: 0 0 auto;
    }
  }

  @media (min-width: 992px) {
    .col-lg-#{$i} {
      width: $i/$columns * 100%;
      flex: 0 0 auto;
    }
  }

  @media (min-width: 768px) {
    .col-md-#{$i} {
      width: $i/$columns * 100%;
      flex: 0 0 auto;
    }
  }
  @media (min-width: 576px) {
    .col-sm-#{$i} {
      width: $i/$columns * 100%;
      flex: 0 0 auto;
    }
  }
}
